name: Run ETL Pipeline

on:
  push:
    paths:
      - 'data/raw/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Allows the action to push changes back

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install dependencies
      run: |
        pip install pandas openpyxl sqlalchemy

    - name: Run ETL Script
      run: python etl.py

    - name: Commit and Push processed data
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Auto-update processed data: $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
        git push